/*body容器*/
html{
	min-height: 100%;
}
body{
	font-size: 100%;min-width:1500px;
}

.container{
	border-width: 0 0;
}

.page {
	box-sizing: border-box;
    /*min-height: 100%;*/
    height: auto;
    padding: 0 0;
    background: #f3f3f3 url(../img/bg_service.png) no-repeat;
    background-position: bottom;
}

/*页眉*/
#hder{
	background-color: #1a8fb4;  /*#1a8fb4,#CC0000*/
	min-width: 359px;
	min-height: 80px;
	/*深红色的背景色*/	
}

/*西电图标*/
#img01{
	position: relative;
	left: 20%;
}

/*欢迎标题*/
#title{
	border-width: 0 0;
	padding-top: 5%; /*margin-top:10%*/ ;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}

/*整个输入框*/
#input3{
	box-sizing: border-box;
	width: 450px;
	height: 570px;
	margin: 0 auto;
	/*position: relative;
	left:37%;*/
	/*margin-top: 10%;*/
    margin-top: 20px;

}

fieldset {
	background-color: #f1f1f1;
	border: 1px solid #c0c0c0;
	/*border: none;*/
	border-radius: 10px;
	margin-bottom: 12px;
	overflow: hidden;
	padding: 0 .625em; /* 10px/16px */
}

/*表单总标题*/
.hdr-account{
	background-color: #0B5586;
}
h2{
	background-color: #dedede;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-radius: 12px;
	box-shadow: 3px 3px 3px #ccc;
	color: #fff;
	font-size: 1.1em;
	margin: 12px;
	padding: 0.3em 1em;
	text-shadow: #9FBEB9 1px 1px 1px;
}

/*输入框标签*/
label{
	cursor: pointer;
	border-radius: 12px;
	vertical-align: top;
	display: inline-block;
	padding: 3px 6px;
	text-align: right;  /*输入标签右对齐*/
	width: 112px;       /*输入标签的长度*/
}

/*按钮*/
#btn1 {
    background-color: #da820a;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #333;
    color: #fff;
    margin-left: 43%;
    padding: 8px;
    text-shadow: 1px 1px 0px #777;
}


a{
	text-decoration: none;
}
.fields {
	background-color: #fff;
	border: 1px solid #eaeaea;
	margin: .75em;
	padding: .75em;
}

.fields .row {
	margin: 0.5em 0;
	/*padding-left: 3em;*/
}

.field-large {
	width: 200px;
}

select{
	width: 204px;
}